<mat-toolbar>
  <button matIconButton>
    <mat-icon>menu</mat-icon>
  </button>
  <span>AM First</span>
  <span class="example-spacer"></span>
  <button matIconButton>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <mat-card-title>Card</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Proin nec tellus non quam euismod elementum. Nam sit amet ullamcorper ante. Nullam dolor sem, varius et ullamcorper sed, porttitor ac purus. Sed nibh metus, vulputate ut luctus et, auctor eget neque. Quisque feugiat pharetra risus a venenatis. Cras pulvinar, libero id semper condimentum, turpis eros vestibulum quam, vel feugiat ex sapien a lectus. Pellentesque finibus purus ac lacus pulvinar, et sodales est luctus. Ut id aliquet nunc. Etiam non sem ligula. Proin molestie felis sit amet arcu ullamcorper, et commodo erat aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin nulla risus, auctor rutrum condimentum quis, varius eu sem. Sed porttitor nisi eu elementum sollicitudin. Nullam eleifend, nulla sit amet sollicitudin varius, est nulla vehicula augue, ut gravida eros lacus eu urna. Proin mauris arcu, commodo quis justo sed, tempor laoreet massa.</p>
    <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum magna
      justo, dictum vitae pellentesque vitae, rutrum a orci. Quisque justo mi,
      bibendum a orci quis, venenatis vestibulum est. Ut consequat, felis ac
      feugiat ultricies, quam erat dapibus nisi, ut placerat eros eros a nulla.
      Donec ornare tortor gravida lorem ultrices tempor. Phasellus vel lacus
      tortor. Phasellus accumsan sem hendrerit egestas dictum. Aliquam eros
      felis, tempus vel odio semper, lacinia vulputate orci. Donec non arcu
      semper, condimentum risus eu, dignissim nisl. Praesent augue nulla,
      vulputate a elementum ac, ultricies eu odio. Maecenas faucibus, eros sit
      amet scelerisque dictum, enim lorem bibendum tellus, non laoreet leo diam
      ac dui.
    </p>
  </mat-card-content>
  <mat-card-footer>
    <button matIconButton>
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-footer>
</mat-card>
